<div class="row historyClass">
    &nbsp;
    <div class="history-grid">
        <div class="history-grid-header" ng-click="goBack()">
            <p><img src="../../assets/mbd_back.svg" width="29px"> {{filterBy}} <span>({{totalItems}})</span>
        </div>

        <div ng-if="ordersData" class="col-lg-4 history-grid-element" ng-repeat="orderData in ordersDataSliced">
            <div class="panel panel-default" ng-click="openOrder(orderData.id_order)">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="history-grid-title">
                            <h3 class="history-grid-order"> ID: #{{orderData.id_order}}</h3>
                        </div>
                        <div class="history-grid-text">
                            <p class="history-grid-strong">{{orderData.address}}</p>
                            <p>{{orderData.zipcode}} {{orderData.city}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div ng-show="totalItems>numPerPage" class="col-lg-12">
            <div class="pull-right home-pagination">
                <ul uib-pagination  direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="totalItems" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
            </div>
        </div>
        <div ng-if="ordersData==false" class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i>No hay información de esos pedidos.</i>

                </div>
            </div>

        </div>

    </div>
</div>

