<div class="order-detail row-fluid clearfix">
    <div class="order-detail-header" ng-click="goBack()">
        <p><img src="../../assets/mbd_back.svg" width="29px"> Detalle pedido</p>
    </div>
    <div class="panel panel-default">

        <div class="panel-body">
            <div ng-if="orderData" class="col-lg-12">
                <div class="order-detail-title">
                    <h3 class="order-detail-order"> ID: #{{orderData.id_order}}</h3>
                    <h3 class="order-detail-status {{orderData.state_class}}" >{{orderData.state_name}}<img src="../../assets/mbd_small_poi_{{orderData.state_class}}.svg" height="29px"></h3>
                </div>
                <hr>
                <div class="col-lg-3">
                    <h4><img src="../../assets/mbd_destinatario.svg" height="25px"> Destinatario: </h4>
                    <p>{{orderData.firstname}} {{orderData.lastname}}</p>
                    <p class="order-detail-strong">{{orderData.address}}</p>
                    <p>{{orderData.zipcode}} {{orderData.city}}</p>
                </div>
                <div class="col-lg-3">
                    <h4><img src="../../assets/mbd_repartidor.svg" height="25px"> Repartidor</h4>
                    <p>{{orderData.mensajero}}</p>
                </div>
                <div class="col-lg-6">
                    <h4><img src="../../assets/mbd_observaciones.svg" height="25px"> Observaciones</h4>
                    <p>{{orderData.comments}}</p>
                </div>
            </div>
        </div>
        <div ng-if="orderData===undefined" class="col-lg-12">
            <div class="order-detail-header">
                <i>No hay información para ese pedido</i>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
    </div>


</div>
